<p id="notice"></p>
<div class="col-md-8 offset-md-2">
  <h4>商品詳細</h4>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <table class="table">
  		    <tbody>
  		      <tr>
              <%= image_tag @item.get_profile_image(200,100), size: "200x100" %>

              <p>商品名</p>
              <td>
                <%= @item.name %>
              </td>

              <p>商品説明</p>
              <td>
                <%= @item.introduction %>
              </td>

              <p>ジャンル</p>
              <td>
                <%= @item.genre_id %>
              </td>

              <p>税込価格<br>
              (税抜価格)</p>
              <td>
                <%= @item.price %>
              </td>

              <p>販売ステータス</p>
              <td>
                <%= @item.is_active %>
              </td>

              <td>
                <%= link_to edit_admin_item_path(@item.id) %>
                  <div class="btn btn-success">編集する</div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>