<p id="notice"></p>
<div class="container">
  <div class="row">
    <div class="col-md-7 offset-md-1">
      <h4>会員詳細</h4>
        <table class="table">
  		    <tbody>
  		      <tr>
  		        <p>会員ID</p>
              <td>
               <%= @customers.id %>
                <br>
              </td>

              <p>氏名</p>
              <td>
                <%= @customers.last_name %><%= @customers.first_name %>
              </td>

              <p>フリガナ</p>
              <td>
                <%= @customers.last_name_kana %><%= @customers.first_name_kana %>
              </td>

              <p>郵便番号</p>
              <td>
                <%= @customers.postal_code %>
              </td>

              <p>住所</p><br>
              <td>
                <%= @customers.address %>
              </td>

              <p>電話番号</p>
              <td>
                <%= @customers.telephone_number %>
              </td>

              <p>メールアドレス</p>
              <td>
                <%= @customers.email %>
              </td>

              <p>会員ステータス</p>
              <td>
                <%= @customers.is_deleted %>
              </td>

              <td>
                <%= link_to "編集する", edit_admin_customer_path(@customers.id), class: "btn btn-success" %>
              </td>

              <td>
                <%= link_to "注文履歴一覧を見る", admin_root_path, class: "btn btn-success" %>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>