<p id="notice"></p>
<div class="col-md-8 offset-md-2">
  <h4>注文履歴一覧</h4>
  <table class="table table-hover table-inverse">
    <thead>
      <tr>
        <th>購入日時</th>
        <th>購入者</th>
        <th>注文個数</th>
        <th>注文ステータス</th>
        <th colspan="4"></th>
      </tr>
    </thead>
    <tbody>
      <% @homes.each do |home| %>
        <tr>
          <td>
            <%= home.id %>
          </td>
          <td>
            <%= home.name %>
          </td>
          <td>
            <%= home.price %>
          </td>
          <td>
            <%= home.genre_id %>
          </td>
          <td>
            <%= home.is_active %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>