<p id="notice"></p>
  <div class="container">
    <div class="row">
      <h4>ショッピングカート</h4>
      <div class="col-5 ml-3">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>商品名</th>
              <th>単価（税込）</th>
              <th>数量</th>
              <th>小計</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @cart_items.each do |cart_items| %>
            <tr>
              <td>
                <%= image_tag  @item.get_profile_image(100,50), size: "100x50" %>
                <%= cart_items.name %>
              </td>
              <td>
                <%= cart_items.amount %>
              </td>
              <td>
                <%= form_with model: @cart_items, url: cart_items_path do |f| %>
                  <%= f.select :amount, [1, 2, 3, 4, 5, 6, 7, 8, 9] %>
                  <%= f.submit "変更", class: "btn btn-success" %>
                <% end %>
              </td>
              <td>
                <%= cart_items.amount*cart_items.price %>
              </td>

              <td>
                <%= link_to "削除する" class: "btn btn-danger" %>
              </td>
            </tr>
          </tbody>
        </table>
            <%= link_to "買い物を続ける", items_path, class: "btn btn-primary" %>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>合計金額</th>
            </tr>
          </thead>
          <tbody>
            <% @cart_items.each do |cart_items| %>
            <tr>
              <td>
                <%= cart_items.amount*cart_items.price %>
              </td>
            </tr>
          </tbody>
        </table>
        <%= link_to "情報入力に数む", new_order_path class: "btn btn-success" %>
      </div>
    </div>
  </div>