<p id="notice"></p>
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-1">
        <h4>注文情報確認</h4>
        <table class="table table-bordered align="left"">
          <thead>
            <tr>
              <th>商品名</th>
              <th>単価（税込）</th>
              <th>数量</th>
              <th>小計</th>
            </tr>
          </thead>
          <tbody>
            <% @cart_items.each do |cart_item| %>
            <tr>
              <td>
                <%= image_tag cart_item.item.get_profile_image(100,50), size: "100x50" %>
                <%= cart_item.item.name %>
              </td>
              <td>
                <%= cart_item.item.with_tax_price %>
              </td>
              <td>
                <%= cart_item.amount %>
              </td>
              <td>
                <%= cart_item.amount*cart_item.item.price %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
        <div class="row">
          <div class="col-md-3 offset-md-8">
            <table class="table table-bordered">
              <tbody>
                <thead>
                  <tr>
                    <th>送料</th>
                      <td>
                        <%= @order.shipping_cost %>
                      </td>
                  </tr>
                  <tr>
                    <th>商品合計</th>
                      <td>
                        <%= @cart_items.sum(&:subtotal) %>
                      </td>
                  </tr>
                  <tr>
                    <th>請求金額</th>
                      <td>
                        <%= @order.shipping_cost + @cart_items.sum(&:subtotal) %>
                      </td>
                  </tr>
                </thead>
              </tbody>
            </table>
          </div>
        </div>
    </div>
  </div>
    <h4><strong>支払方法</strong></h4>
    <%= @order.payment_method %></br>

    <h4><strong>お届け先</strong></h4>
    <%= current_customer.postal_code %>
    <%= current_customer.address %>
    <%= current_customer.last_name %><%= current_customer.first_name %></br>

  <div class="center-block">
    <%= link_to "注文を確定する", orders_path, class: "btn btn-success" %>
  </divv>