<p id="notice"></p>
  <div class="container px-5 px-sm-0">
    <div class="row">
      <div class="col-8 ml-4">
        <h4>注文履歴詳細画面</h4>
        <table class="table table-bordered">
          <p>注文情報</p>
            <thead>
              <tr>
                <th>注文日</th>
                <th>配送先</th>
                <th>支払方法</th>
                <th>ステータス</th>
              </tr>
            </thead>
          <tbody>
            <% @order.each do |order| %>
            <tr>
              <td>
                <%= order.created_at %>
              </td>
              <td>
                <%= current_customer.postal_code %>
                <%= current_customer.address %>
                <%= current_customer.last_name %><%= current_customer.first_name %>
              </td>
              <td>
                <%= order.payment_method %>
              </td>
              <td>
                <%= order.status %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>

        <div class="col-md-8 offset-md-1">
          <table class="table table-bordered">
            <p>請求情報</p>
            <tbody>
              <tr>
                <th>商品合計</th>
                  <td>
                    <%= @cart_items.sum(&:subtotal) %>
                  </td>

                <tr>配送料</tr>
                  <td>
                    <%= @order.shipping_cost %>
                  </td>

                <th>請求金額</th>
                  <td>
                    <%= @order.shipping_cost + @cart_items.sum(&:subtotal) %>
                  </td>
              </tr>
            </tbody>
          </table>
        </div>

        <table class="table table-bordered">
          <p>注文内容</p>
            <thead>
              <tr>
                <th>商品</th>
                <th>単価（税込）</th>
                <th>個数</th>
                <th>小計</th>
              </tr>
            </thead>
            <tbody>
              <% @cart_items.each do |cart_item| %>
              <tr>
                <td>
                  <%= cart_item.item.name %>
                </td>
                <td>
                  <%= cart_item.item.price %>
                </td>
                <td>
                  <%= cart_item.amount %>
                </td>
                <td>
                  <%= cart_item.amount*cart_item.item.with_tax_price %>
                </td>
              </tr>
              <% end %>
            </tbody>
        </table>
    </div>
  </div>
